{% extends 'base.html.twig' %}

{% block title %}Настройки профиля{% endblock %}

{% block body %}
    <h1>Настройки профиля</h1>
    <div>
        {{ form_start(form) }}
            {{ form_row(form.isActive) }}
            {{ form_row(form.minRange) }}

            <button type="submit">Сохранить</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
