{% set fullLink = "#{url('public')}confirm/#{link}" %}

<p>Вы успешно зарегистрировались в сервисе <b>Cold Alarm</b>.</p>
<p>Ваш пароль: {{ password }}</p>
<p>Для активации учетной записи необходимо перейти по ссылке: <a href="{{ fullLink }}">{{ fullLink }}</a></p>
