{% extends 'base.html.twig' %}

{% block title %}Cold alarm{% endblock %}

{% block body %}
    <h1>Сервис Cold alarm</h1>
    <h3 class="text-primary my-3">Обзор</h3>
    <p>Сервис позволяет пользователю подписаться на рассылку о похолодании ниже n градусов (граница задается пользователем персонально). Если прогноз на завтра показывает похолодание ниже границы пользователю отправляется персонализированный  емейл предупреждение.</p>
    <h3 class="text-primary my-3">Функциональные требования</h3>
    <ol>
        <li>Пользователь регистрируется указывая свои данные (Имя, граница, почта).</li>
        <li>Пользователь должен подтвердить свою почту.</li>
        <li>Пользователь может авторизоваться по паролю который пришел ему на почту.</li>
        <li>Пользователь может деактивировать аккаунт.</li>
        <li>При похолодании пользователь должен получать письмо с 6-8 утра.</li>
    </ol>
    <h3 class="text-primary my-3">Технические подробности</h3>
    Функционал должен быть реализован в виде отдельного сервиса. БД должна быть поднята на том же инстансе что и сервис погоды, но сама база создана новая. Для авторизации нужно использовать готовый бандл симфони.
    <h3 class="text-primary my-3">Ключевые этапы (требуется предварительная оценка)</h3>
    <ol>
        <li>Разворачивание нового сервиса</li>
        <li>Создание модели пользователя и авторизация</li>
        <li>Регистрация и подтверждение почты</li>
        <li>Страницы личного кабинета</li>
        <li>Запрос к сервису погоды</li>
        <li>Отправка почты</li>
    </ol>

{% endblock %}
