{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <h1>Регистрация</h1>
    <div>
        {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.minRange) }}

            <button type="submit">Register!</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
