{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <h1>Регистрация</h1>
    <div class="alert alert-success" role="alert">
        Вы успешно зарегистрировались. На почту выслано письмо с дальнейшими инструкциями.
    </div>
{% endblock %}
