{% extends 'base.html.twig' %}

{% block title %}Подтверждение email{% endblock %}

{% block body %}
    <h1>Подтверждение email</h1>
    <div class="alert alert-{{ type }}" role="alert">
        {{ message }}
    </div>
{% endblock %}
