<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
        {% endblock %}
    </head>
    <body>
        <div class="border-bottom d-flex flex-column flex-md-row shadow-sm p-3">
            <h5 class="my-0 mr-md-auto"><a href="/">Cold alarm<a/></h5>
            <nav class="my-md-0 mr-md-3">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.isVerified %}
                    <a class="p-2 text-dark" href="/logout">Выход</a>
                    <a class="p-2 text-dark" href="/profile">Настройки</a>
                {% else %}
                    <a class="p-2 text-dark" href="/login">Вход</a>
                    <a class="p-2 text-dark" href="/registration">Регистрация</a>
                {% endif %}
            </nav>
        </div>
        <div class="container py-3">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
